*{
  margin: 0;
  box-sizing: border-box;
}

.grid{
  display: grid;
  grid-template: 200px 200px 200px/ 1fr 1fr 1fr;
}

.box1{
  grid-area: 1/1;
}
.box2{
  grid-area: 1/2;
}
.box3{
  grid-area: 1/3;
}

.hoverMe{
  height: 100%;
  width: 100%;
  background-color: red;
  border: black solid;
  opacity: 1;
  transition: 0.5s;
}

.disappear{
  opacity: 0;
  transition: 0.5s;
}

#reset{
  grid-area: 2/2;
  height: 100%;
  width: 100%;
  background-color: green;
  border: black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

#reset:hover{
  background-color: lightgreen;
  text-decoration: underline;
  transition: 0.5s;
}

#x-axis{
  grid-area: 2/1;
  padding-top: 50%;
  text-align: center;
}

#y-axis{
  grid-area: 2/3;
  padding-top: 50%;
  text-align: center;
}
